<style type="text/css">
  footer {
    background-color: #342b26;
    color: #65b4db;
    padding: 10px 0;
  }
</style>
<footer class="row">
  <div class="col-xs-12">
    <small>site <a href="https://github.com/johndgiese/cws-demo">designed and developed</a> by David Giese using <a href="http://phalconphp.com/en/">Phalcon</a></small>
    <small>
      <a class="pull-right" href="http://cloudyhills.com/">Cloudy Hills <span class="glyphicon glyphicon-cloud"></span> is the Best</a>
    </small>
  </div>
</footer>
