<style type="text/css">
  header {
    background-color: #342b26;
  }
  header h1 {
    font-family: 'Montserrat Alternates', Verdana;
    font-size: 5em;
    color: #f0eee6;
    font-weight: 700;
  }
  header h1 span {
    font-size: .8em;
  }
  header h3 {
    font-family: 'Montserrat Alternates', Verdana;
    color: #65b4db;
  }

</style>
<header class="row">
  <div class="col-xs-12">
    <h1>CWS <span class="glyphicon glyphicon-home"></span></h1>
    <h3><emph>The Unofficial CWS Apartment Finder</emph></h3>
  </div>
</header>
