{% extends "layouts/base.html" %}

{% block content %}
<div id="content" class="row">
  <div class="col-xs-12 col-lg-8">
    <br>
    <a href="/">
      <span class="glyphicon glyphicon-arrow-left">
      </span>
      Back to All Apartment Complexes
    </a>
    <br>
    <br>
    <h3 style="display: inline;">
      {{ complex.name }}
    </h3>
    <a href="{{ complex.url }}" target="_blank"><emph>view site <span class="glphicon glyphicon-plus"></emph></a>
    <br>
    <br>
    <table class="table table-bordered">
      <tr>
        <th>Number</th>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
        <th>Available On</th>
      </tr>
      {% for a in apartments %}
      <tr>
        <td>{{ a['number'] }}</td>
        <td>{{ a['type'] }}</td>
        <td>{{ a['size'] }}</td>
        <td>{{ a['price'] }}</td>
        <td>{{ a['available_on'] }}</td>
      </tr>
      {% elsefor %}
      <tr>
        <td colspan="5" class="text-center">
          We were unable to find any apartments!
        </td>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
