{% extends "layouts/base.html" %}

{% block content %}
<div id="content" class="row">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <br>
    <table class="table table-bordered">
      <tr>
        <th>State</th>
        <th>Name</th>
      </tr>
      {% for c in complexes %}
      <tr>
        <td>{{ c['state'] }}</td>
        <td>
          <span>
            {{ c['name'] }}
          </span>
          <a class="pull-right" href="/complex/{{ c['id'] }}/">
            <emph>search <span class="glyphicon glyphicon-arrow-right"></span></emph>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
